ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnectionStringDB=Host=aws-1-ap-southeast-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.xxx;Password=xxx;SSL Mode=Require;Trust Server Certificate=true

JwtSettings__SecretKey=replace_with_long_random_secret_min_32_chars
JwtSettings__Issuer=CMMS_Backend
JwtSettings__Audience=CMMS_Users

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

Gemini__ApiKey=
Gemini__Model=gemini-2.5-flash
Gemini__BaseUrl=https://generativelanguage.googleapis.com/v1beta

GoogleMaps__ApiKey=
GoogleMaps__BaseUrl=https://maps.googleapis.com/maps/api
GoogleMaps__Language=vi
GoogleMaps__Region=vn

Weather__ApiKey=
Weather__BaseUrl=https://api.openweathermap.org/data/2.5
Weather__Language=vi
Weather__DefaultForecastDays=5
Weather__Units=metric

EmailSettings__SmtpHost=smtp.gmail.com
EmailSettings__SmtpPort=587
EmailSettings__SenderEmail=
EmailSettings__SenderName=CMMS System
EmailSettings__SenderPassword=
